alembic
bs4
ebest
fastapi
finviz
matplotlib
mplfinance
numpy
pandas
pandas_datareader
psutil
pyarrow
pymysql
pyqt5
pyshorteners
python_dotenv
requests
scipy
seaborn
selenium
sqlalchemy
telepot
tqdm
ujson
urllib3
uvicorn
websockets
yfinance
